# ======================================================
# === IDENTITY CONTEXT CONFIGURATION                 ===
# ======================================================
server:
  port: 8081

spring:
  application:
    name: identity-context
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          dialect: org.hibernate.dialect.MySQLDialect

# Secretos y API Keys (leídos SIEMPRE de variables de entorno)
authorization:
  jwt:
    secret: "${AUTH_JWT_SECRET}"
    expiration:
      days: 7
twilio:
  sendgrid:
    api-key: "${TWILIO_SENDGRID_API-KEY}"
    from-email: "${TWILIO_SENDGRID_FROM-EMAIL}"

openapi:
  service:
    title: "FoodChain - Identity Service API"
    version: "v1.0.0"
    description: "API para la gestión de Identidad y Acceso (IAM)."

---
# ======================================================
# === PERFIL DE DESARROLLO LOCAL (default)           ===
# ======================================================
spring:
  config:
    activate:
      on-profile: "default"
  datasource:
    url: jdbc:mysql://127.0.0.1:3307/identity_db
    username: "foodchain_user"
    password: "foodchain_password"
    driver-class-name: com.mysql.cj.jdbc.Driver

---
# ======================================================
# === PERFIL DOCKER                                  ===
# ======================================================
spring:
  config:
    activate:
      on-profile: "docker"
  datasource:
    url: "${SPRING_DATASOURCE_URL}"
    username: "${SPRING_DATASOURCE_USERNAME}"
    password: "${SPRING_DATASOURCE_PASSWORD}"
    driver-class-name: com.mysql.cj.jdbc.Driver