/.idea/
/batch-management-context/.gitattributes
/batch-management-context/target/surefire-reports/2025-10-05T18-45-37_564.dumpstream
/batch-management-context/target/classes/application.yml
/batch-management-context/target/batch-management-context-0.0.1-SNAPSHOT.jar
/batch-management-context/target/batch-management-context-0.0.1-SNAPSHOT.jar.original
/batch-management-context/target/classes/com/foodchain/batch_management_context/BatchManagementContextApplication.class
/batch-management-context/target/test-classes/com/foodchain/batch_management_context/BatchManagementContextApplicationTests.class
/batch-management-context/target/surefire-reports/com.foodchain.batch_management_context.BatchManagementContextApplicationTests.txt
/batch-management-context/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/batch-management-context/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/batch-management-context/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/batch-management-context/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/batch-management-context/.mvn/wrapper/maven-wrapper.properties
/batch-management-context/mvnw
/batch-management-context/mvnw.cmd
/batch-management-context/target/maven-archiver/pom.properties
/batch-management-context/target/surefire-reports/TEST-com.foodchain.batch_management_context.BatchManagementContextApplicationTests.xml
/shared-domain/target/classes/com/foodchain/shared_domain/infrastructure/documentation/openapi/BaseOpenApiConfiguration.class
/batch-management-context/target/classes/com/foodchain/batch_management_context/domain/model/aggregates/Batch.class
/batch-management-context/target/classes/com/foodchain/batch_management_context/domain/services/BatchCommandService.class
/batch-management-context/target/classes/com/foodchain/batch_management_context/application/internal/commandservices/BatchCommandServiceImpl.class
/batch-management-context/target/classes/com/foodchain/batch_management_context/interfaces/rest/BatchController.class
/batch-management-context/target/classes/com/foodchain/batch_management_context/domain/model/valueobjects/BatchId.class
/batch-management-context/target/classes/com/foodchain/batch_management_context/infrastructure/persistence/jpa/repositories/BatchJpaRepository.class
/batch-management-context/target/classes/com/foodchain/batch_management_context/domain/repositories/BatchRepository.class
/batch-management-context/target/classes/com/foodchain/batch_management_context/infrastructure/persistence/jpa/repositories/BatchRepositoryImpl.class
/batch-management-context/target/classes/com/foodchain/batch_management_context/domain/model/valueobjects/BatchStatus.class
/batch-management-context/target/classes/com/foodchain/batch_management_context/infrastructure/security/BearerAuthorizationRequestFilter.class
/batch-management-context/target/classes/com/foodchain/batch_management_context/domain/model/commands/CreateBatchCommand.class
/batch-management-context/target/classes/com/foodchain/batch_management_context/interfaces/rest/transform/CreateBatchCommandFromResourceAssembler.class
/batch-management-context/target/classes/com/foodchain/batch_management_context/interfaces/rest/resources/CreateBatchResource.class
/batch-management-context/target/classes/com/foodchain/batch_management_context/application/outbound/iam/IamService.class
/batch-management-context/target/classes/com/foodchain/batch_management_context/infrastructure/outbound/iam/IamServiceImpl.class
/batch-management-context/target/classes/com/foodchain/batch_management_context/application/outbound/iam/UserDetails.class
/batch-management-context/target/classes/com/foodchain/batch_management_context/infrastructure/security/WebSecurityConfiguration.class
/batch-management-context/target/

# Archivos compilados de Java
target/
*.class
*.jar
*.war
*.ear

# Logs
*.log
logs/

# Archivos del IDE (IntelliJ)
.idea/
*.iml
*.ipr
*.iws
out/

# Archivos del IDE (VSCode)
.vscode/

# Archivos del sistema operativo
.DS_Store
Thumbs.db