server:
  port: 8083

spring:
  application:
    name: traceability-context

  # --- PERFIL POR DEFECTO (local) ---
  config:
    activate:
      on-profile: "default"
  datasource:
    username: "${SPRING_DATASOURCE_USERNAME}"
    password: "${SPRING_DATASOURCE_PASSWORD}"
    driver-class-name: com.mysql.cj.jdbc.Driver # ¡AÑADE ESTA LÍNEA!

  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: foodchain
    password: foodchain
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

# URLs para clientes API en entorno local
api:
    clients:
      iam-service:
        base-url: "http://localhost:8081/api/v1/iam/auth"
        enterprise-url: "http://localhost:8081/api/v1/enterprises"
      batch-service:
        base-url: "http://localhost:8082/api/v1/batches"
    google:
      maps:
        api-key: "AIzaSyCVwdhZWFdAZ2xVRjNF-9rCwaxvhm5pbGk"

---
# --- PERFIL DOCKER ---
spring:
  config:
    activate:
      on-profile: "docker"
  rabbitmq:
    host: rabbitmq # En Docker, nos conectamos por el nombre del servicio

openapi:
  service:
    title: "FoodChain - Traceability Service API"
    version: "v1.0.0"
    description: "API para el registro de eventos de trazabilidad en la plataforma FoodChain."



# Configuración de la integración con la Blockchain para fines de verificación
blockchain:
  explorer:
    # La URL base para ver una transacción, con un placeholder {txHash}
    tx-url-template: "https://www.oklink.com/amoy/tx/{txHash}"