server:
  port: 8083 # Puerto Único para este microservicio

spring:
  application:
    name: traceability-context

  datasource:
    url: jdbc:mysql://127.0.0.1:3307/traceability_db # CONECTA A SU PROPIA BASE DE DATOS!
    username: foodchain_user
    password: foodchain_password

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  # --- CONFIGURACIÓN PARA EL PRODUCTOR DE MENSAJES ---
  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: foodchain
    password: foodchain

api:
  clients:
    iam-service:
      base-url: "http://localhost:8081/api/v1/iam/auth"

openapi:
  service:
    title: "FoodChain - Traceability Service API"
    version: "v1.0.0"
    description: "API para el registro de eventos de trazabilidad en la plataforma FoodChain."

google:
  maps:
    api-key: "AIzaSyCVwdhZWFdAZ2xVRjNF-9rCwaxvhm5pbGk"